@font-face {
  font-family: 'Inter';
  src: url(/assets/fonts/static/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(/assets/fonts/static/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(/assets/fonts/static/Inter-ExtraBold.ttf) format('truetype');
  font-weight: 800;
}

:root {
  --Soft-Orange: hsl(35, 77%, 62%);
  --Soft-Red: hsl(5, 85%, 63%);
  --Off-White: hsl(36, 100%, 99%);
  --Greyish-Blue: hsl(233, 8%, 79%);
  --Dark-Greyish-Blue: hsl(236, 13%, 42%);
  --Very-Dark-Blue: hsl(240, 100%, 5%);
  --Body-Font: 'Inter';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: var(--Body-Font);
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  max-width: 1110px;
  margin: 0 auto;
}

nav .logo {
  margin-left: 0rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-right: 0rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--Very-Dark-Blue);
  text-decoration: none;
  font-size: 1rem;
}
.mobile-burger {
  display: none;
  cursor: pointer;
}

.mobile-burger .burger-icon {
  background-image: url('./assets/images/icon-menu.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 4rem;
}

/* MAIN CONTAINER */
main.wrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.main-container {
  display: grid;
  grid-template-areas:
    'main-img'
    'intro-heading'
    'intro-content'
    'new-posts'
    'retro-pcs'
    'top-10-laptops'
    'gaming';
}

img {
  width: 100%;
}

/* MAIN IMAGE */

.main-img {
  grid-area: main-img;
}

/* INTRODUCTION SECTION */

.intro-heading {
  grid-area: intro-heading;
}

.intro-heading h1 {
  font-size: 2.3rem;
  font-weight: 800;
  padding: 1rem 3rem 1rem 0;
  color: var(--Very-Dark-Blue);
  line-height: 2.5rem;
}

.intro-content {
  grid-area: intro-content;
}

.intro-content p {
  font-weight: 400;
  color: var(--Dark-Greyish-Blue);
  padding-bottom: 2rem;
  line-height: 1.5rem;
}

.intro-content a {
  background-color: var(--Soft-Red);
  color: var(--Off-White);
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.intro-content a:hover,
.intro-contenta:active {
  background-color: var(--Very-Dark-Blue);
}

/* NEW POSTS */

.new-posts {
  margin-top: 4rem;
  background-color: var(--Very-Dark-Blue);
  padding: 1.8rem;
  margin-bottom: 2rem;
  grid-area: new-posts;
}

.new-posts h2.new {
  color: var(--Soft-Orange);
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
}

.new-posts h2 {
  color: var(--Off-White);
  font-size: 1.2rem;
  padding-bottom: 0.6rem;
}

.new-posts h2:hover,
.new-posts h2:active {
  color: var(--Soft-Orange);
  cursor: pointer;
}

.new-posts p {
  color: #ffffff94;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 1.4rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #ffffff94;
  line-height: 1.4rem;
}

/* RELATED POSTS */

.related-posts {
  display: flex;
  margin-bottom: 2rem;
}

.related-posts img {
  width: 100px;
}

.related-post-snippet {
  padding: 0 1rem;
}

.related-post-snippet h1 {
  color: var(--Greyish-Blue);
}

.related-post-snippet h2 {
  color: var(--Very-Dark-Blue);
  font-size: 1.1rem;
  padding: 0.7rem 0;
}

.related-post-snippet h2:hover,
.related-post-snippet h2:active {
  color: var(--Soft-Red);
  cursor: pointer;
}

.related-post-snippet p {
  color: var(--Dark-Greyish-Blue);
  line-height: 1.5rem;
}

.retro-pcs {
  grid-area: retro-pcs;
}

.top-ten-laptops {
  grid-area: top-10-laptops;
}

.gaming {
  grid-area: gaming;
}

/* FOOTER SECTION */

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2rem auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: var(--Soft-Orange);
}

/* NAV MEDIA QUERY */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav .logo {
    margin-left: 1rem;
  }

  nav .logo img {
    margin-left: 1rem;
    width: 3rem;
    padding: 1rem 0;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    width: 60%;
    background-color: var(--Off-White);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li:nth-child(1) {
    margin-top: 2rem;
  }

  .nav-links li {
    padding: 1.5rem 1.5rem;
    width: 100%;
    opacity: 0;
  }

  .nav-links a:hover,
  .nav-links a:focus,
  .nav-links a:active {
    color: var(--Soft-Orange);
  }

  .mobile-burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .burger-icon {
  background-image: url('./assets/images/icon-menu-close.svg');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 1.3rem;
  margin-right: 4rem;
  position: relative;
  top: 0.7rem;
  left: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .nav-links {
    width: 50%;
  }

  .nav-links a:hover,
  .nav-links a:focus,
  .nav-links a:active {
    color: var(--Soft-Orange);
  }
}

/*////DESTOP MEDIA QUERIES//////*/

@media screen and (min-width: 1210px) {
  .main-container {
    max-width: 1110px;
    grid-template-areas:
      'main-img main-img new-posts'
      'intro-heading intro-content new-posts'
      'retro-pcs top-10-laptops gaming';
    gap: 2rem;
    justify-items: center;
  }

  .intro-heading h1 {
    font-size: 3.5rem;
    padding: 0rem 3rem 1rem 0;
    line-height: 3.5rem;
  }

  .intro-content p {
    padding-bottom: 2.9rem;
  }

  .intro-content a {
    padding: 0.9rem 2.5rem;
  }

  .new-posts {
    margin-top: 0rem;
    padding: 0 1.8rem;
    margin-bottom: 2rem;
    grid-area: new-posts;
  }

  .new-posts h2.new {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  .new-posts h2 {
    margin-top: 1.9rem;
    padding-bottom: 0.6rem;
  }

  .related-post-snippet {
    padding: 0 1rem;
  }

  .related-post-snippet h1 {
    font-size: 2rem;
  }

  .related-post-snippet h2 {
    font-size: 1rem;
    padding-bottom: 0.3rem;
  }

  .nav-links a:hover,
  .nav-links a:focus,
  .nav-links a:active {
    color: var(--Soft-Orange);
  }
}
